<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: pageTitle }) %>
</head>
<body>

<div>
    <header>
        <h1>
            <a href="/">Is it down?</a>
        </h1>
    </header>

    <div class="content">
        <div>
            404 - Page not found
        </div>
        <div class="go-again">
            <a href="/">Go back to the home page?</a>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
<%- include('../partials/scripts') %>
</body>
</html>