<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', { title: pageTitle }) %>
</head>
<body>
<header>
    <h1>
        <a href="/">Is it down?</a>
    </h1>
</header>

<div class="content">
    <form onsubmit="return formSubmit()" method="get">
        <span class="opaque">Is</span>
        <div class="input">
            <input id="domain" type="text" placeholder="google.com" autofocus autocomplete="off" />
            <span class="bar"></span>
        </div>
        <span class="opaque">down?</span>
        <input type="submit" class="hide">
    </form>

    <div id="loading-spinner">
        Checking...
    </div>
</div>


<%- include('../partials/footer') %>
<%- include('../partials/scripts') %>
</body>
</html>